:root {
  background: #f7f5f0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
  text-decoration: none;
  color: black;
}

/* Home */
div .floating-words {
  padding: 20px;
  display: flex;
}

.floating-words {
  font-size: 20px;
  animation: animate 20s linear infinite;
  animation-delay: none;
  padding: 40px;
  overflow: hidden;
  margin-bottom: 0px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-style: italic;
}

@keyframes animate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* NavBar */

.navLogo {
  font-style: bold;
  font-size: 30px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  align-items: center;
}

.nav-links li {
  display: inline-block;
  padding: 0px 10px;
  margin-bottom: 10px;
}

.nav-links li a {
  color: black;
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #8c8a87;
}

/* Cart */
.cart-icon {
  width: 30px;
  height: 30px;
}
